.countdown-box{
    padding: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    font-style: normal;
    color: #FFFFFF;
}

.unit{
    font-style: normal;
    color: rgba(255, 255, 255, 0.75);
}

/* Media Queries */

.countdown-box{
    width: calc(88*var(--screen));
    height: calc(88*var(--screen));
    border-radius: calc(12*var(--screen));
}

.time{
    font-weight: 700;
    font-size: calc(54*var(--screen));
    line-height: calc(66*var(--screen));
}

.unit{
    font-weight: 700;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
}