.showcase-content{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list-1{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list-1-items{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.certification{
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.certification-text{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    color: #9921E8;
    text-transform: uppercase;
}

.content-heading{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    color: #FFFFFF;
}

.button-details{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    background: transparent;
    text-transform: uppercase;
}

.enroll-button{
    color: #FFFFFF;
}

.list-1-2{
    align-items: center;
}

.offer{
    font-style: normal;
    color: #FFFFFF;
}

.line-break{
    height: 0px;
    background: white;
}

.count-down{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list-2{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.small-imgs{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.img-4{
    position: absolute;
}

.img-3{
    position: absolute;
}

.img-2{
    position: absolute;
}

.img-1{
    position: absolute;
}


/* Media Queries */


.showcase-content{
    padding-left: calc(64*var(--screen));
}

.list-1{
    padding-top: calc(113*var(--screen));
    height: calc(400*var(--screen));
    width: calc(503*var(--screen));
}

.list-1-1{
    height: calc(204*var(--screen));
}

.certification{
    border-radius: calc(100*var(--screen));
    width: calc(378*var(--screen));
    height: calc(30*var(--screen));
}

.certification-text{
    font-weight: 400;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
    letter-spacing: 0.018em;
    padding-top: calc(6.5*var(--screen));
}

.content-heading{
    font-weight: 700;
    font-size: calc(32*var(--screen));
    line-height: calc(39*var(--screen));
    letter-spacing: 0.0188em;
}

.button-details{
    font-weight: 700;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
    border-radius: calc(100*var(--screen));
    height: calc(32*var(--screen));
    width: calc(128*var(--screen));
}

.enroll-button{
    border: calc(1.8*var(--screen)) solid #FFFFFF;
}

.list-1-2{
    height: calc(124*var(--screen));
}

.offer{
    font-weight: 700;
    font-size: calc(12*var(--screen));
    line-height: calc(15*var(--screen));
}

.line-break{
    border: calc(1*var(--screen)) solid white;
    width: calc(32*var(--screen));
    border-radius: calc(100*var(--screen));
}

.count-down{
    width: calc(328*var(--screen));
}

.img-1{
    top: calc(193*var(--screen));
    right: 0px;
    height: calc(588*var(--screen));
    width: calc(462*var(--screen));
}

.img-2{
    right: calc(492*var(--screen));
    top: calc(448*var(--screen));
    width: calc(228*var(--screen));
    height: calc(228*var(--screen));
}

.img-3{
    right: calc(462*var(--screen));
    top: calc(245*var(--screen));
    height: calc(128*var(--screen));
    width: calc(128*var(--screen));
}

.img-4{
    top: calc(140*var(--screen));
    right: calc(345*var(--screen));
    height: calc(88*var(--screen));
    width: calc(88*var(--screen));
}
