.header{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-component-list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    font-style: normal;
    color: white;
    text-transform: uppercase;
}

.header-button{
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: none;
    color: white;
    font-style: normal;
    text-transform: uppercase;
}

.navlist{
    display: flex;
    align-items: center;
}


/* Media Queries */

.header{
    padding-left: calc(64*var(--screen));
    padding-right: calc(64*var(--screen));
    padding-top: calc(32*var(--screen));
}

.logo{
    width: calc(151*var(--screen));
    height: calc(48*var(--screen));
}

.logo-img{
    width: calc(48*var(--screen));
}

.logo-text{
    font-weight: 700;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
}

.navbar-buttons{
    width: calc(351*var(--screen));
}

.header-button{
    font-size: calc(14*var(--screen));
    font-weight: 700;
    line-height: calc(17*var(--screen));
}

.navlist{
    height: calc(17*var(--screen));
}

.login-signup-buttons{
    width: calc(149*var(--screen));
}

.signup-button{
    border: calc(1.8*var(--screen)) solid white;
    border-radius: calc(100*var(--screen));
    width: calc(86*var(--screen));
    height: calc(30*var(--screen));
}