.course-info{
    position: absolute;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-text{
    font-style: normal;
    color: #0D0D0D;
}

.course-boxes{
    position: absolute;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}




/* Media Queries */

.course-info{
    top: calc(800*var(--screen));
    padding-left: calc(64*var(--screen));
    height: calc(56*var(--screen));
}

.c-text{
    font-size: calc(18*var(--screen));
    line-height: calc(22*var(--screen));
}

.c-head{
    font-weight: 700;
}

.c-des{
    font-weight: 400;
}

.course-boxes{
    top: calc(919*var(--screen));
    /* padding-left: calc(64*var(--screen)); */
    gap: calc(32*var(--screen));
}

.arrow{
    width: calc(12*var(--screen));
    height: calc(23*var(--screen));
}

