.course-box{
    background: rgba(217, 217, 217, 0.25);
    box-shadow: 0px 35px 80px rgba(13, 13, 13, 0.12);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course-title-bookmark{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}

.course-title{
    font-style: normal;
    color: #0D0D0D;
}

.course-author{
    font-style: normal;
    color: #0D0D0D;
}

.course-star-rating{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.rating{
    font-style: normal;
    color: #0D0D0D;
    margin: 0px;
}

.enroll-button-in-card{
    display: flex;
}


/* Media Queries */

.course-box{
    width: calc(282*var(--screen));
    height: calc(324*var(--screen));
    border-radius: calc(12*var(--screen));
}

.course-img{
    height: calc(142*var(--screen));
    width: calc(282*var(--screen));
}

.course-title-bookmark{
    /* padding-top: calc(12*var(--screen)); */
}

.course-title{
    font-weight: 700;
    font-size: calc(16*var(--screen));
    line-height: calc(19*var(--screen));
    padding-left: calc(27*var(--screen));
}

.course-bookmark{
    width: calc(12*var(--screen));
    height: calc(16*var(--screen));
    padding-right: calc(18*var(--screen));
}

.course-author{
    font-weight: 400;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
    /* padding-top: calc(12*var(--screen)); */
    padding-left: calc(27*var(--screen));
}

.rating{
    font-weight: 400;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
    padding-left: calc(27*var(--screen));
    display: flex;
    align-items: center;
    gap: calc(10*var(--screen));
}

.enroll-button-in-card{
    padding-left: calc(27*var(--screen)); 
    height: calc(32*var(--screen));;
    /* padding-bottom: calc(10*var(--screen)); */
}

