.features{
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.features-list{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.features-list-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.features-head{
    font-style: normal;
    color: #9921E8;
}

.features-des{
    font-style: normal;
    color: #0D0D0D;

}

.enroll-button-2{
    color: #5F72BE;
}

.features-list-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-list-2-1{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-list-2-2{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.feature-icon{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.two-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    position: absolute;
}


.feature-text{
    font-style: normal;
}

.feature-text-1{
    color: #FFAD3B;
}

.feature-text-2{
   color: #2D81F7;
}

.feature-text-3{
    color: #FE5702;
}

.feature-text-4{
    color: #EB5757;
}

.feature-text-5{
    color: #08BD80;
}





/* Media Queries */

.features{
    top: calc(1348*var(--screen));
    left: calc(118*var(--screen));
    right: calc(118*var(--screen));
}

.features-list-1{
    height: calc(190*var(--screen));
}

.features-head{
    font-weight: 700;
    font-size: calc(32*var(--screen));
    line-height: calc(39*var(--screen));
    letter-spacing: 0.0188em;
    width: calc(302*var(--screen));
}

.features-des{
    width: calc(290*var(--screen));
    font-weight: 400;
    font-size: calc(18*var(--screen));
    line-height: calc(22*var(--screen));
}

.enroll-button-2{
    border: calc(1.8*var(--screen)) solid #5F72BE;
}

.features-list-2-1{
    height: calc(728*var(--screen));
}

.features-list-2-2{
    gap: calc(64*var(--screen));
}

.feature-icon{
    width: calc(280*var(--screen));
    height: calc(200*var(--screen));
}

.feature-text{
    font-weight: 700;
    font-size: calc(16*var(--screen));
    line-height: calc(19*var(--screen));
}

.bg-icon{
    width: calc(200*var(--screen));
    height: calc(200*var(--screen));
}

.icon{
    width: calc(50*var(--screen));
    height: calc(50*var(--screen));
}