.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.card-body{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-des{
    font-style: normal;
    text-align: center;
    color: #0D0D0D;
}

.card-name{
    font-style: normal;
    text-align: center;
    color: #9921E8;
}

.card-post{
    font-style: normal;
    text-align: center;
    color: #9921E8;
}

.card-pics{
    display: flex;
    align-items: center;
}


/* Media Queries */

.card{
    width: calc(702*var(--screen));
    height: calc(332*var(--screen));
}

.card-pics{
    gap: calc(32*var(--screen));
}

.card-img{
    width: calc(125*var(--screen));
    height: calc(125*var(--screen));
    border-radius: calc(125*var(--screen));
}

.person{
    width: calc(75*var(--screen));
    height: calc(75*var(--screen));
    border-radius: calc(75*var(--screen));
}

.card-des{
    font-weight: 400;
    font-size: calc(18*var(--screen));
    line-height: calc(22*var(--screen));
    padding-bottom: calc(32*var(--screen));
}

.card-name{
    font-weight: 700;
    font-size: calc(16*var(--screen));
    line-height: calc(19*var(--screen));
    padding-bottom: calc(9*var(--screen));
}

.card-post{
    font-weight: 400;
    font-size: calc(14*var(--screen));
    line-height: calc(17*var(--screen));
}


