.testimonials{
    position: absolute;
}

.test-obj1{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.test-head{
    font-style: normal;
    color: #5F72BE;
    text-transform: uppercase;
}

.line-break-2{
    height: 0px;
    background-color: #5F72BE;
}

.test-obj2{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-arrow{
    transform: rotateY(180deg);
}


/* Media Queries */

.testimonials{
    top: calc(2241*var(--screen));
    left: calc(129*var(--screen));
    right: calc(101.5*var(--screen));
}

.test-obj1{
    gap: calc(64*var(--screen));
}

.test-head{
    font-weight: 700;
    font-size: calc(16*var(--screen));
    line-height: calc(19*var(--screen));
}

.line-break-2{
    width: calc(435*var(--screen));
    border: calc(2*var(--screen)) solid #5F72BE;
    border-radius: calc(100*var(--screen));
}

.test-obj2{
    padding-top: calc(78*var(--screen));
}

.arrows{
    width: calc(11.5*var(--screen));
    height: calc(24.5*var(--screen));
}


