.email-block{
    position: absolute;
    background: #5F72BE;
    display: flex;
    align-items: center;
}

.email-block-content-wrapper{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.email-block-content{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.email-text{
    font-style: normal;
    color: #FFFFFF;
}

.contact-us-button{
    padding: 0px;
    margin: 0px;
    border: none;
    background: #2D81F7;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
}



/* Media Queries */

.email-block{
    top: calc(2791*var(--screen));
    right: calc(64*var(--screen));
    left: calc(64*var(--screen));
    height: calc(120*var(--screen));
    border-radius: calc(12*var(--screen));
}

.email-block-content-wrapper{
    padding-left: calc(56*var(--screen));
    padding-right: calc(50*var(--screen));
}

.email-block-content{
    gap: calc(12*var(--screen));
}

.email-us{
    font-weight: 700;
    font-size: calc(18*var(--screen));
    line-height: calc(22*var(--screen));
}

.connect-with-us{
    font-weight: 400;
    font-size: calc(16*var(--screen));
    line-height: calc(19*var(--screen));
}

.contact-us-button{
    width: calc(328*var(--screen));
    height: calc(52*var(--screen));
    border-radius: calc(12*var(--screen));
    font-weight: 700;
    font-size: calc(16*var(--screen));
    letter-spacing: 0.028em;
}

